body{
    margin: 0;
    background: rgba(244, 237, 228, 1);
}
ul{
    padding: 0;
}
.center-container{
    margin-left: 200px;
}
.navbar{
    width: 200px;
    height: 1080px;
    background: black;
    color: white;
    text-align: center;
    position: fixed;
}
.navbar-span{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
.navbar-list{
    margin: 0;
    padding-top: 150px;
    padding-left: 0;
}
.navbar-line{
    font-family: Saira Condensed;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 15px;
}
.under-nav{
    font-family: Saira Condensed;
    font-size: 24px;
    font-weight: 400;
    padding-top: 200px;
}
.navbar2{
    display: none;
    width: 70px;
    height: 1080px;
    background: black;
    color: white;
    text-align: center;
    position: fixed;
}
.navbar2-span{
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
}

.web-image {
    background-image: url(pizza-images/Pizzeria.png);
    padding: 21em 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.offers-title{
    font-family: Tinos;
    font-size: 65px;
    font-weight: 400;
    width: 80%;
}
.offers{
    display: flex;
    justify-content: center;
    margin: 0 2%;
    align-items: center;
}
.offer{
    text-align: center;
    width: 100%;
}
.text-n-image{
    display: flex;
    gap: 10px;
    align-items: center;
}
.offer-text h3{
    font-family: Roboto Slab;
    font-size: 45px;
    font-weight: 400;
    line-height: 59.35px;
    text-align: center;
    margin-bottom: 20px;
}
.offer-text p{
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.title{
    font-family: Tinos;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;   
    position: relative;
}
.meet-us-line{
    display: flex;
    justify-content: center;
    margin: 0 10%;
    gap: 80px;
    align-items: center;
}
.meet-us-text h3{
    font-family: Josefin Sans;
    font-size: 54px;
    font-weight: 500;
}
.meet-us-text p{
    font-family: Josefin Sans;
    font-size: 41px;
    font-weight: 300;
}

.meals{
    display: grid;
    grid-template-columns: 335px 335px 335px 335px;
    gap: 20px;
    justify-content: center;
}
.meal{
    text-align: center;
}
.meals img{
    text-align: center;
}
.just-eat-h4{
    font-family: Roboto Slab;
    font-size: 38px;
    font-weight: 300;
    text-align: left;    
}
.enjoy-div{
    display: flex;
}
.enjoy-image-text{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.just-eat-btn{
    border: black solid 1px;
    background: rgba(255, 119, 28, 1);
    color: white;
    text-align: center;
    padding: 5px 10%;
    font-family: Saira Condensed;
    font-size: 38px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.just-eat-btn:hover{
    background: rgb(199, 94, 24);
}
.enjoy-list-line span{
    font-family: Roboto Slab;
    font-size: 68px;
    font-weight: 500;
}
.enjoy-list-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.enjoy-list{
    list-style: none;
}
.enjoy-text{
    text-align: center;
}
.enjoy-text h3{
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 600;
    text-align: center;    
}
.opening-hours-list{
    list-style: none;
    padding: 0;
}
.opening-hours-line{
    font-family: Roboto Slab;
    font-size: 46px;
    font-weight: 400;
}
.enjoy-container{
    margin: 100px 2%;
}
.footer-list{
    list-style: none;
    margin-top: 100px;
    padding: 0;
}
.footer-list-line{
    vertical-align: middle;
    font-family: Saira Condensed;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    gap: 15px;
}
.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    gap: 15%;
    padding-bottom: 2em;
}
.footer-list-line span{
    color: black;
    background: rgba(217, 217, 217, 1);
    margin-top: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
}

@media (max-width: 1750px){
    .offer-text h3{
        font-size: 35px;
    }
    .offer-text p{
        font-size: 25px;
    }
    .image1{
        width: 750px;
    }
    .enjoy-list-line{
        display: block;
    }
    .enjoy-div{
        display: flex;
        justify-content: center;
        vertical-align: middle;
    }
    .just-eat-btn{
        margin-top: 30px;
    }
}

@media (max-width: 1660px){
    .meet-us-text h3{
        font-size: 45px;
    }
    .meet-us-text p{
        font-size: 30px;
    }
    .meet-us-line{
        gap: 25px;
    }
    .offers-title{
        font-size: 52px;
    }
}
@media (max-width: 1630px){
    .meals{
        grid-template-columns: 1fr 1fr;
    }
    .meal{
        margin-bottom: 20px;
    }
    .meals-container{
        margin: 0 5%;
    }
}
@media (max-width: 1560px){
    .text-n-image{
        display: block;
    }
    .offers-title{
        margin: 40px auto;
    }
    .offers{
        gap: 50px
    }
    .offer-text p{
        text-align: center;
    }
    .just-eat-h4{
        font-size: 25px;
        text-align: center;
    }
    .just-eat-btn{
        font-size: 25px;
    }
    .enjoy-text h3{
        font-size: 35px;
    }
    .opening-hours-line{
        font-size: 32px;
    }
}
@media (max-width: 1480px){
    .meet-us-line{
        margin: 0 2%;
    }
}
@media (max-width: 1420px){
    .offers-title{
        font-size: 40px;
    }
}
@media (max-width: 1440px){
    .enjoy-image-text{
        display: block;
        text-align: center;
    }
}
@media (max-width: 1300px){
    .meet-us-line{
        display: block;
        text-align: center;
    }
}
@media (max-width: 1240px){
    .footer{
        gap: 7%;
    }
    .footer-list-line{
        text-align: center;
    }
}
@media (max-width: 1100px){
    .offers{
        display: block;
    }
}
@media (max-width: 1000px){
    .image1{
        width: 500px;
    }
}
@media (max-width: 920px){
    .meals{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 880px){
    .meet-us-line img{
        width: 400px;
    }
}
@media (max-width: 780px){
    .footer{
        display: block;
        text-align: center;
    }   
    .footer-list{
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    .footer-list-line{}
}
@media (max-width: 750px){
    .image1{
        width: 350px;
    }
}
@media (max-width: 650px){
    .navbar{
        display: none;
    }
    .navbar2{
        display: block;
    }
    .center-container{
        margin-left: 70px;
    }
}
@media (max-width: 678px){
    .offer img{
        width: 285px;
    }
}
@media (max-width: 630px){
    .title{
        font-size: 50px;
    }
}
@media (max-width: 560px){
    .meals img{
        width: 270px;
    }
}
@media (max-width: 520px){
    .meet-us-line img{
        width: 300px;
    }
    .meet-us-text h3{
        font-size: 30px;
    }
    .meet-us-text p{
        font-size: 20px;
    }
}
@media (max-width: 450px){
    .image1{
        width: 250px;
    }
}
@media (max-width: 440px){
    .title{
        font-size: 40px;
    }
}
@media (max-width: 400px){
    .opening-hours-line{
        font-size: 20px;
    }
}
@media (max-width: 390px){
    .offer img{
        width: 200px;
    }
    .meet-us-line img{
        width: 200px;
    }
    .meals img{
        width: 220px;
    }
}
@media (max-width: 368px){
    .title{
        font-size: 30px;
    }
}
@media (max-width: 350px){
    .offers-title{
        font-size: 30px;
    }
    .image1{
        width: 200px;
    }
}